@page "/login"
@using Homakers.Applications.DTOs
@using Homakers.SQLite.Models
@inject Homakers.Sevices.UICustomerService _customerService

@inject Homakers.SQLite.CustomerSQLiteInitializer _sqliteDb
@inject NavigationManager _navigationManager

<div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input id="username" class="form-control" @bind="@(_customer.Username)" />
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" class="form-control" @bind="@_customer.Password" />
    </div>

    <button type="button" @onclick="HandleLogin" class="btn btn-primary">Login</button>

    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <div class="text-danger mt-2">@errorMessage</div>
    }
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="text-success mt-2">@successMessage</div>
    }
    @if (error != null || error == "")
    {
        <p>
            @error
        </p>
    }
</div>

@code {
    private CustomerDto? _customer { get; set; }
    private string? errorMessage; string? successMessage;
    private string error { get; set; }
    private SCustomers sCustomer { get; set; }

    protected override void OnInitialized()
    {
        _customer = new CustomerDto();
        sCustomer = new SCustomers();
    }

    protected override async Task OnParametersSetAsync()
    {
        sCustomer = await _sqliteDb.GetCurrentCustomerAsync();
    }

    private async Task HandleLogin()
    {
        try
        {
            CustomerDto? customerDto = await _customerService.ValidateCustomer(_customer.Username, _customer.Password);
            if (customerDto.Username != null)
            {
                errorMessage = string.Empty;
                successMessage = "Login Success";
                SCustomers sCustomer = new SCustomers();
                sCustomer.CustomerID = customerDto.CustomerID;
                sCustomer.Name = customerDto.Name;
                sCustomer.Email = customerDto.Email;
                sCustomer.Mobile = customerDto.Mobile;
                sCustomer.Username = customerDto.Username;
                sCustomer.Password = customerDto.Password;
                sCustomer.IsActive = true;
                await _sqliteDb.SavesCustomerAsync(sCustomer);
                _navigationManager.NavigateTo($"/");
            }
            else
            {
                successMessage = string.Empty;
                errorMessage = "Invalid username or password.";
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
