@inherits LayoutComponentBase

@using Homakers.SQLite.Models
@inject Homakers.SQLite.CustomerSQLiteInitializer _sqliteCustomerDb
@inject Homakers.SQLite.ProfessionalSQLiteServices _sqliteProfessionalDb
@inject NavigationManager _navigationManager

<div class="page">
    @if (sCustomer != null || sProfessional != null)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }
    @* else if (sCustomer == null && sProfessional != null)
    {
        <div class="sidebar">
            <ProfessionalsNavMenu />
        </div>
    } *@
    <main>
        <article>
            <div class="container-fluid">
                @Body
            </div>
        </article>
    </main>
</div>
@code
{
    private SCustomers sCustomer { get; set; }
    private SProfessionals sProfessional { get; set; }
    protected override void OnInitialized()
    {
        sCustomer = new SCustomers();
        sProfessional = new SProfessionals();
    }

    protected override async Task OnParametersSetAsync()
    {
        sCustomer = await _sqliteCustomerDb.GetCurrentCustomerAsync();
        sProfessional = await _sqliteProfessionalDb.GetCurrentProfessionalAsync();
    }
}