@inherits LayoutComponentBase

@using Homakers.SQLite.Models
@inject Homakers.SQLite.CustomerSQLiteInitializer _sqliteDb
@inject NavigationManager _navigationManager

<div class="page">
    @* <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <div class="top-row px-4">
            <button type="button" @onclick="Logout" class="btn btn-primary">Logout</button>
        </div>
        <div class="container-fluid">
            @Body
        </div>
        @* <article class="content px-4">
            @Body
        </article> *@
    </main>
</div>
@code 
{
    private async Task Logout()
    {
        SCustomers sCustomer = await _sqliteDb.GetCurrentCustomerAsync();
        await _sqliteDb.DeletesCustomerAsync(sCustomer);
        _navigationManager.NavigateTo("/login");
    }
}