@using Homakers.SQLite.Models
@inject Homakers.SQLite.ProfessionalSQLiteServices _sqliteProfessionalDb
@inject NavigationManager _navigationManager

@if (sProfessional != null)
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Homakers</a>
        </div>
    </div>

    <input type="checkbox" title="Navigation menu" class="navbar-toggler" />

    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">

        <nav class="flex-column">
            <div class="nav-item px-3" style="display:block;">
                <NavLink class="nav-link" href="professionalsHome">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Professional's Home
                </NavLink>
            </div>
            <div class="nav-item px-3" style="display:block;">
                <NavLink class="nav-link" href="myServiceRequests">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> My Requests
                </NavLink>
            </div>
            @* <div class="nav-item px-3">
                <NavLink class="nav-link" href="weather">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div> *@
            <div class="footer">
                <div class="nav-item px-3" @onclick="Logout" style="display:block;">
                    <a class="nav-link">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                    </a>
                </div>
            </div>
        </nav>
    </div>
}
@code {
    private SProfessionals sProfessional { get; set; }
    protected override void OnInitialized()
    {
        sProfessional = new SProfessionals();
    }

    protected override async Task OnParametersSetAsync()
    {
        sProfessional = await _sqliteProfessionalDb.GetCurrentProfessionalAsync();
    }
    private async Task Logout()
    {
        await _sqliteProfessionalDb.DeletesProfessionalAsync(sProfessional);
        _navigationManager.NavigateTo("/");
    }
}